.side
  .top
    img(src='http://cms.supadu.com/images/working/p2606/6.jpg' style='max-width: 70px; max-height: 60px')
  .bottom
    img(src='http://www.bernardsvillelibrary.org/bpl/wp-content/uploads/2015/03/booksstackxx.jpg' style='max-width: 70px; max-height: 60px')
