doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block title
      div.head
        img.cover(src='../../images/book-logo.jpg')
        h1.headT Galvanize Reads
  body
    
    block content
    
    
