body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #7B5442;
  display: flex;
  flex-direction: column;
  background-color: #DBD8C5;
}

a {
  color: #00B7FF;
}

.head{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.headT {
  font-size: 37px;
}

.container {
  display: flex;
  align-self: center;
  /*align-content: space-between;*/
  width: 50%;
}

.main {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 20px;
}

.containeru {

}

.cover {
  max-width: 130px;
  max-height: 130px;
  margin-right: 15px;
}

.containero {
  align-self: center;
  width: 50%;
}

.title {
  font-size: 25px;
  margin-top: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.red {
  color: red;
}

.form-control {
  width: 100%;
}

.t {
  height: 25px;
  margin: 0 0 15px 0;
}

.addAs {
  display: flex;
  flex-direction: row;
}

#addA {
  width: 90px;
  height: 35px;
  font-size: 12px;
}

#delB {
  width: 150px;
  height: 150px;
  align-self: center;
  font-size: 25px;
}

.btn {
  width: 100%;
  height: 60px;
  align-self: center;
  font-size: 25px;
}


.it {
  font-style: italic;
}
