body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #7B5442;
  display: flex;
  flex-direction: column;
  background-color: #DBD8C5;
}

a {
  color: #00B7FF;
}

.head{
  display: flex;
  flex-direction: row;
}

.headT {
  font-size: 37px;
}

.books {

}

.cover {
  max-width: 100px;
  max-height: 100px;
}

.it {
  font-style: italic;
}
